<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugin.mobile-accessibility"
    version="0.1.0">
    <name>Mobile Accessibility</name>
    <description>PhoneGap Mobile Accessibility Plugin</description>
    <license>Apache 2.0</license>
    <keywords>phonegap, mobile accessibility</keywords>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <js-module src="www/mobile-accessibility.js" name="mobile-accessibility">
    	<clobbers target="window.MobileAccessibility" />
    </js-module>
   
   <dependency id="org.apache.cordova.device" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git" />
   <dependency id="org.apache.cordova.network-information" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-network-information.git" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MobileAccessibility">
                <param name="ios-package" value="CDVMobileAccessibility" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVMobileAccessibility.h" />
        <source-file src="src/ios/CDVMobileAccessibility.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <access origin="https://ssl.gstatic.com/accessibility/javascript/android/*" />
            <feature name="MobileAccessibility" >
                <param name="android-package" value="com.phonegap.plugin.mobileaccessibility.MobileAccessibility"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/phonegap/plugin/mobileaccessibility/MobileAccessibility.java" target-dir="src/com/phonegap/plugin/mobileaccessibility" />
        <source-file src="src/android/com/phonegap/plugin/mobileaccessibility/AbstractMobileAccessibilityHelper.java" target-dir="src/com/phonegap/plugin/mobileaccessibility" />
        <source-file src="src/android/com/phonegap/plugin/mobileaccessibility/DonutMobileAccessibilityHelper.java" target-dir="src/com/phonegap/plugin/mobileaccessibility" />
        <source-file src="src/android/com/phonegap/plugin/mobileaccessibility/IceCreamSandwichMobileAccessibilityHelper.java" target-dir="src/com/phonegap/plugin/mobileaccessibility" />
        <source-file src="src/android/com/phonegap/plugin/mobileaccessibility/JellyBeanMobileAccessibilityHelper.java" target-dir="src/com/phonegap/plugin/mobileaccessibility" />
        <source-file src="src/android/com/phonegap/plugin/mobileaccessibility/KitKatMobileAccessibilityHelper.java" target-dir="src/com/phonegap/plugin/mobileaccessibility" />
        <asset src="www/android" target="plugins/com.phonegap.plugin.mobile-accessibility/android" />
    </platform>
</plugin>
